<% content_for :title, t("public_menus.index.title") %>

<h1><%= t("public_menus.index.heading") %></h1>

<ul>
  <% @menus.each do |menu| %>
    <li>
      <%= link_to menu.name, public_menu_path(menu) %>
      — <%= t("public_menus.shared.author", id: menu.user_id) %>
    </li>
  <% end %>
</ul>
